#
# pin constraints
#
NET "CLK_N" LOC = AD11;
NET "CLK_N" IOSTANDARD = DIFF_SSTL15;
NET "CLK_P" LOC = AD12;
NET "CLK_P" IOSTANDARD = DIFF_SSTL15;
NET "IIC_MAIN_SCL" LOC = K21;
NET "IIC_MAIN_SCL" IOSTANDARD = LVCMOS25;
NET "IIC_MAIN_SCL" DRIVE = 8;
NET "IIC_MAIN_SCL" SLEW = SLOW;
NET "IIC_MAIN_SDA" LOC = L21;
NET "IIC_MAIN_SDA" IOSTANDARD = LVCMOS25;
NET "IIC_MAIN_SDA" DRIVE = 8;
NET "IIC_MAIN_SDA" SLEW = SLOW;
NET "QSPI_FLASH_IO0" IOSTANDARD = LVCMOS25;
NET "QSPI_FLASH_IO1" IOSTANDARD = LVCMOS25;
NET "QSPI_FLASH_SS" IOSTANDARD = LVCMOS25;
NET "RESET" LOC = AB7;
NET "RESET" IOSTANDARD = LVCMOS15;
NET "RS232_Uart_1_sin" LOC = M19;
NET "RS232_Uart_1_sin" IOSTANDARD = LVCMOS25;
NET "RS232_Uart_1_sout" LOC = K24;
NET "RS232_Uart_1_sout" IOSTANDARD = LVCMOS25;
NET "sm_fan_pwm_net_vcc" LOC = L26;
NET "sm_fan_pwm_net_vcc" IOSTANDARD = LVCMOS25;
#
# additional constraints
#

NET "CLK" TNM_NET = "sys_clk_pin";
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 200000 KHz;

INST "reconfigurable_peripherials_0/reconfigurable_peripherials_0/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance" RANGE=SLICE_X24Y0:SLICE_X49Y49;
AREA_GROUP "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance" INCLUSIVE=ROUTE;
INST "QSPI_FLASH/QSPI_FLASH/QSPI_LEGACY_MD_GEN.QSPI_CORE_INTERFACE_I/LOGIC_FOR_MD_0_GEN.SPI_MODULE_I/SPI_TRISTATE_CONTROL_IV" LOC = OLOGIC_X0Y138;
INST "QSPI_FLASH/QSPI_FLASH/QSPI_LEGACY_MD_GEN.QSPI_CORE_INTERFACE_I/LOGIC_FOR_MD_0_GEN.SPI_MODULE_I/SPI_TRISTATE_CONTROL_V" LOC = OLOGIC_X0Y147;
INST "QSPI_FLASH/QSPI_FLASH/QSPI_LEGACY_MD_GEN.QSPI_CORE_INTERFACE_I/LOGIC_FOR_MD_0_GEN.SPI_MODULE_I/SPI_TRISTATE_CONTROL_III" LOC = OLOGIC_X0Y148;
NET "QSPI_FLASH_IO0" LOC = P24;
NET "QSPI_FLASH_IO1" LOC = R25;
NET "QSPI_FLASH_SS" LOC = U19;
