# Project: PR_Project_XADC

#
# pin constraints
#
NET CLK_N LOC = "AD11"  |  IOSTANDARD = "DIFF_SSTL15";
NET CLK_P LOC = "AD12"  |  IOSTANDARD = "DIFF_SSTL15";
NET IIC_MAIN_SCL LOC = "K21"  |  DRIVE = "8"  |  IOSTANDARD = "LVCMOS25"  |  SLEW = "SLOW";#NET IIC_MAIN_SDA LOC = "L21"  |  DRIVE = "8"  |  IOSTANDARD = "LVCMOS25"  |  SLEW = "SLOW";
NET RESET LOC = "AB7"  |  IOSTANDARD = "LVCMOS15";
NET RS232_Uart_1_sin LOC = "M19"  |  IOSTANDARD = "LVCMOS25";
NET RS232_Uart_1_sout LOC = "K24"  |  IOSTANDARD = "LVCMOS25";
NET sm_fan_pwm_net_vcc LOC = "L26"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;

NET axi_xadc_0_VAUXP_AMS_pin[0] LOC = "J23" | IOSTANDARD = "LVCMOS25";
NET axi_xadc_0_VAUXN_AMS_pin[0] LOC = "J24" | IOSTANDARD = "LVCMOS25";
NET axi_xadc_0_VAUXP_AMS_pin[1] LOC = "L22" | IOSTANDARD = "LVCMOS25";
NET axi_xadc_0_VAUXN_AMS_pin[1] LOC = "L23" | IOSTANDARD = "LVCMOS25";


