 # 200 MHz differential XTAL
NET  "sys0_clkp"     LOC = AD12 | IOSTANDARD = LVDS_25;
NET  "sys0_clkn"     LOC = AD11 | IOSTANDARD = LVDS_25;

# LEDs and Switches...
#NET  GPIO_LED_0_LS             LOC = AB8  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2N_T0_33
#NET  GPIO_LED_1_LS             LOC = AA8  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2P_T0_33
#NET  GPIO_LED_2_LS             LOC = AC9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_33
#NET  GPIO_LED_3_LS             LOC = AB9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_33
#NET  GPIO_LED_4_LS             LOC = AE26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_25_13
#NET  GPIO_LED_5_LS             LOC = G19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_0_17
#NET  GPIO_LED_6_LS             LOC = E18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_25_17
#NET  GPIO_LED_7_LS             LOC = F16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_25_18
#NET  GPIO_DIP_SW0              LOC = Y29  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L4N_T0_13
#NET  GPIO_DIP_SW1              LOC = W29  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L4P_T0_13
#NET  GPIO_DIP_SW2              LOC = AA28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_13
#NET  GPIO_DIP_SW3              LOC = Y28  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_13
#NET  GPIO_SW_N                 LOC = AA12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1P_T0_33
#NET  GPIO_SW_S                 LOC = AB12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1N_T0_33
#NET  GPIO_SW_E                 LOC = AG5  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_34
#NET  GPIO_SW_W                 LOC = AC6  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_0_VRN_34
#NET  GPIO_SW_C                 LOC = G12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_0_18
#NET  LCD_E_LS                  LOC = AB10 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L7P_T1_33
#NET  LCD_RS_LS                 LOC = Y11  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L4P_T0_33
#NET  LCD_RW_LS                 LOC = AB13 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_33
#NET  LCD_DB4_LS                LOC = AA13 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L6P_T0_33
#NET  LCD_DB5_LS                LOC = AA10 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L5N_T0_33
#NET  LCD_DB6_LS                LOC = AA11 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L5P_T0_33
#NET  LCD_DB7_LS                LOC = Y10  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L4N_T0_33
#NET "gpio_led<0>"    			LOC = AB8 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D0 rightmost
#NET "gpio_led<1>"    			LOC = AA8 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D1
#NET "gpio_led<2>"    			LOC = AC9 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D2
#NET "gpio_led<3>"    			LOC = AB9 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D3
#NET "gpio_led<4>"    			LOC = AE26 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D4
#NET "gpio_led<5>"   				LOC = G19 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D5
#NET "gpio_led<6>"    			LOC = E18 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D6
#NET "gpio_led<7>"    			LOC = F16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4; ## User LED D7 leftmost
NET  "dip_sw<0>"             	LOC = Y29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L4N_T0_13
NET  "dip_sw<1>"             	LOC = W29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L4P_T0_13
NET  "dip_sw<2>"             	LOC = AA28 | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_13
NET  "dip_sw<3>"             	LOC = Y28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_13
#NET  "sw_n"                 	LOC = AA12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1P_T0_33
#NET  "sw_s"                 	LOC = AB12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1N_T0_33
#NET  "sw_e"                 	LOC = AG5  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_34
#NET  "sw_w"                 	LOC = AC6  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_0_VRN_34
NET  "sw_c"                 	LOC = G12  | IOSTANDARD=LVCMOS25; # Bank  18 VCCO - VADJ_FPGA - IO_0_18

