#
# pin constraints
#
NET "CLK_N" LOC = AD11;
NET "CLK_N" IOSTANDARD = DIFF_SSTL15;
NET "CLK_P" LOC = AD12;
NET "CLK_P" IOSTANDARD = DIFF_SSTL15;
NET "IIC_MAIN_SCL" LOC = K21;
NET "IIC_MAIN_SCL" IOSTANDARD = LVCMOS25;
NET "IIC_MAIN_SCL" DRIVE = 8;
NET "IIC_MAIN_SCL" SLEW = SLOW;
NET "IIC_MAIN_SDA" LOC = L21;
NET "IIC_MAIN_SDA" IOSTANDARD = LVCMOS25;
NET "IIC_MAIN_SDA" DRIVE = 8;
NET "IIC_MAIN_SDA" SLEW = SLOW;
NET "QSPI_FLASH_IO0" IOSTANDARD = LVCMOS25;
NET "QSPI_FLASH_IO1" IOSTANDARD = LVCMOS25;
NET "QSPI_FLASH_SS" IOSTANDARD = LVCMOS25;
NET "RESET" LOC = AB7;
NET "RESET" IOSTANDARD = LVCMOS15;
NET "RS232_Uart_1_sin" LOC = M19;
NET "RS232_Uart_1_sin" IOSTANDARD = LVCMOS25;
NET "RS232_Uart_1_sout" LOC = K24;
NET "RS232_Uart_1_sout" IOSTANDARD = LVCMOS25;
NET "sm_fan_pwm_net_vcc" LOC = L26;
NET "sm_fan_pwm_net_vcc" IOSTANDARD = LVCMOS25;
#
# additional constraints
#

NET "CLK" TNM_NET = "sys_clk_pin";
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 200000 KHz;

NET "QSPI_FLASH_IO0" LOC = P24;
NET "QSPI_FLASH_IO1" LOC = R25;
NET "QSPI_FLASH_SS" LOC = U19;

NET "axi_xadc_0_VAUXP_AMS_pin[0]" LOC = J23;
NET "axi_xadc_0_VAUXP_AMS_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_VAUXN_AMS_pin[0]" LOC = J24;
NET "axi_xadc_0_VAUXN_AMS_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_VAUXP_AMS_pin[1]" LOC = L22;
NET "axi_xadc_0_VAUXP_AMS_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_VAUXN_AMS_pin[1]" LOC = L23;
NET "axi_xadc_0_VAUXN_AMS_pin[1]" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_CONVST_pin" LOC = AC27;
NET "axi_xadc_0_CONVST_pin" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_MUXADDR_pin[0]" LOC = A11;
NET "axi_xadc_0_MUXADDR_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[1]" LOC = A12;
NET "axi_xadc_0_MUXADDR_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[2]" LOC = A13;
NET "axi_xadc_0_MUXADDR_pin[2]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[3]" LOC = A15;
NET "axi_xadc_0_MUXADDR_pin[3]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[4]" LOC = A16;
NET "axi_xadc_0_MUXADDR_pin[4]" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_TEMP_OUT_pin[0]" LOC = A17;
NET "axi_xadc_0_TEMP_OUT_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[1]" LOC = A18;
NET "axi_xadc_0_TEMP_OUT_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[2]" LOC = A20;
NET "axi_xadc_0_TEMP_OUT_pin[2]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[3]" LOC = A21;
NET "axi_xadc_0_TEMP_OUT_pin[3]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[4]" LOC = A22;
NET "axi_xadc_0_TEMP_OUT_pin[4]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[5]" LOC = A25;
NET "axi_xadc_0_TEMP_OUT_pin[5]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[6]" LOC = A26;
NET "axi_xadc_0_TEMP_OUT_pin[6]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[7]" LOC = A27;
NET "axi_xadc_0_TEMP_OUT_pin[7]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[8]" LOC = A28;
NET "axi_xadc_0_TEMP_OUT_pin[8]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[9]" LOC = A30;
NET "axi_xadc_0_TEMP_OUT_pin[9]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[10]" LOC = AA20;
NET "axi_xadc_0_TEMP_OUT_pin[10]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[11]" LOC = AA30;
NET "axi_xadc_0_TEMP_OUT_pin[11]" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_ALARM_pin[0]" LOC = AB20;
NET "axi_xadc_0_ALARM_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[1]" LOC = AB27;
NET "axi_xadc_0_ALARM_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[2]" LOC = AB29;
NET "axi_xadc_0_ALARM_pin[2]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[3]" LOC = AB30;
NET "axi_xadc_0_ALARM_pin[3]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[4]" LOC = AC22;
NET "axi_xadc_0_ALARM_pin[4]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[5]" LOC = AC24;
NET "axi_xadc_0_ALARM_pin[5]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[6]" LOC = AC25;
NET "axi_xadc_0_ALARM_pin[6]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[7]" LOC = AC26;
NET "axi_xadc_0_ALARM_pin[7]" IOSTANDARD = LVCMOS25;

INST "reconfigurable_peripherials_0/reconfigurable_peripherials_0/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y160:SLICE_X49Y194;

INST "reconfigurable_peripherials_1/reconfigurable_peripherials_1/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_1_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_1_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y310:SLICE_X49Y344;
INST "reconfigurable_peripherials_3/reconfigurable_peripherials_3/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_3_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_3_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y210:SLICE_X49Y244;
INST "reconfigurable_peripherials_4/reconfigurable_peripherials_4/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_4_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_4_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y110:SLICE_X49Y144;
INST "reconfigurable_peripherials_2/reconfigurable_peripherials_2/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_2_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_2_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y260:SLICE_X49Y294;
INST "reconfigurable_peripherials_5/reconfigurable_peripherials_5/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_5_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_5_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y60:SLICE_X49Y94;
INST "reconfigurable_peripherials_6/reconfigurable_peripherials_6/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_6_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_6_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y10:SLICE_X49Y44;
INST "reconfigurable_peripherials_7/reconfigurable_peripherials_7/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_7_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_7_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y310:SLICE_X103Y344;
INST "reconfigurable_peripherials_8/reconfigurable_peripherials_8/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_8_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_8_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y260:SLICE_X103Y294;
INST "reconfigurable_peripherials_10/reconfigurable_peripherials_10/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_10_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_10_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y160:SLICE_X103Y194;
INST "reconfigurable_peripherials_11/reconfigurable_peripherials_11/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_11_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_11_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y110:SLICE_X103Y144;
INST "reconfigurable_peripherials_12/reconfigurable_peripherials_12/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_12_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_12_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y60:SLICE_X103Y94;
INST "reconfigurable_peripherials_13/reconfigurable_peripherials_13/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_13_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_13_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y10:SLICE_X103Y44;
INST "reconfigurable_peripherials_9/reconfigurable_peripherials_9/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_9_USER_LOGIC_I_rp_instance_1";
AREA_GROUP "pblock_reconfigurable_peripherials_9_USER_LOGIC_I_rp_instance_1" RANGE=SLICE_X92Y210:SLICE_X103Y244;
INST "reconfigurable_peripherials_14/reconfigurable_peripherials_14/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_14_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_14_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y310:SLICE_X19Y344;
AREA_GROUP "pblock_reconfigurable_peripherials_14_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y124:DSP48_X0Y137;
AREA_GROUP "pblock_reconfigurable_peripherials_14_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y124:RAMB18_X0Y137;
AREA_GROUP "pblock_reconfigurable_peripherials_14_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y62:RAMB36_X0Y68;
INST "reconfigurable_peripherials_15/reconfigurable_peripherials_15/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_15_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_15_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y260:SLICE_X19Y294;
AREA_GROUP "pblock_reconfigurable_peripherials_15_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y104:DSP48_X0Y117;
AREA_GROUP "pblock_reconfigurable_peripherials_15_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y104:RAMB18_X0Y117;
AREA_GROUP "pblock_reconfigurable_peripherials_15_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y52:RAMB36_X0Y58;
INST "reconfigurable_peripherials_16/reconfigurable_peripherials_16/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_16_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_16_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y210:SLICE_X19Y244;
AREA_GROUP "pblock_reconfigurable_peripherials_16_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y84:DSP48_X0Y97;
AREA_GROUP "pblock_reconfigurable_peripherials_16_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y84:RAMB18_X0Y97;
AREA_GROUP "pblock_reconfigurable_peripherials_16_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y42:RAMB36_X0Y48;
INST "reconfigurable_peripherials_17/reconfigurable_peripherials_17/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_17_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_17_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y160:SLICE_X19Y194;
AREA_GROUP "pblock_reconfigurable_peripherials_17_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y64:DSP48_X0Y77;
AREA_GROUP "pblock_reconfigurable_peripherials_17_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y64:RAMB18_X0Y77;
AREA_GROUP "pblock_reconfigurable_peripherials_17_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y32:RAMB36_X0Y38;
INST "reconfigurable_peripherials_18/reconfigurable_peripherials_18/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_18_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_18_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y110:SLICE_X19Y144;
AREA_GROUP "pblock_reconfigurable_peripherials_18_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y44:DSP48_X0Y57;
AREA_GROUP "pblock_reconfigurable_peripherials_18_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y44:RAMB18_X0Y57;
AREA_GROUP "pblock_reconfigurable_peripherials_18_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y22:RAMB36_X0Y28;
INST "reconfigurable_peripherials_19/reconfigurable_peripherials_19/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_19_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_19_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y60:SLICE_X19Y94;
AREA_GROUP "pblock_reconfigurable_peripherials_19_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y24:DSP48_X0Y37;
AREA_GROUP "pblock_reconfigurable_peripherials_19_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y24:RAMB18_X0Y37;
AREA_GROUP "pblock_reconfigurable_peripherials_19_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y12:RAMB36_X0Y18;
INST "reconfigurable_peripherials_20/reconfigurable_peripherials_20/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_20_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_20_USER_LOGIC_I_rp_instance" RANGE=SLICE_X0Y10:SLICE_X19Y44;
AREA_GROUP "pblock_reconfigurable_peripherials_20_USER_LOGIC_I_rp_instance" RANGE=DSP48_X0Y4:DSP48_X0Y17;
AREA_GROUP "pblock_reconfigurable_peripherials_20_USER_LOGIC_I_rp_instance" RANGE=RAMB18_X0Y4:RAMB18_X0Y17;
AREA_GROUP "pblock_reconfigurable_peripherials_20_USER_LOGIC_I_rp_instance" RANGE=RAMB36_X0Y2:RAMB36_X0Y8;
INST "reconfigurable_peripherials_21/reconfigurable_peripherials_21/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_21_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_21_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y310:SLICE_X121Y344;
AREA_GROUP "pblock_reconfigurable_peripherials_21_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y124:DSP48_X4Y137;
INST "reconfigurable_peripherials_22/reconfigurable_peripherials_22/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_22_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_22_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y260:SLICE_X121Y294;
AREA_GROUP "pblock_reconfigurable_peripherials_22_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y104:DSP48_X4Y117;
INST "reconfigurable_peripherials_23/reconfigurable_peripherials_23/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_23_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_23_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y210:SLICE_X121Y244;
AREA_GROUP "pblock_reconfigurable_peripherials_23_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y84:DSP48_X4Y97;
INST "reconfigurable_peripherials_24/reconfigurable_peripherials_24/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_24_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_24_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y160:SLICE_X121Y194;
AREA_GROUP "pblock_reconfigurable_peripherials_24_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y64:DSP48_X4Y77;
INST "reconfigurable_peripherials_25/reconfigurable_peripherials_25/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_25_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_25_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y110:SLICE_X121Y144;
AREA_GROUP "pblock_reconfigurable_peripherials_25_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y44:DSP48_X4Y57;
INST "reconfigurable_peripherials_26/reconfigurable_peripherials_26/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_26_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_26_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y60:SLICE_X121Y94;
AREA_GROUP "pblock_reconfigurable_peripherials_26_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y24:DSP48_X4Y37;
INST "reconfigurable_peripherials_27/reconfigurable_peripherials_27/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_27_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_27_USER_LOGIC_I_rp_instance" RANGE=SLICE_X108Y10:SLICE_X121Y44;
AREA_GROUP "pblock_reconfigurable_peripherials_27_USER_LOGIC_I_rp_instance" RANGE=DSP48_X4Y4:DSP48_X4Y17;
