# Project: PR_Project_XADC

#
# pin constraints
#
NET "CLK_N" LOC = AD11;
NET "CLK_N" IOSTANDARD = DIFF_SSTL15;
NET "CLK_P" LOC = AD12;
NET "CLK_P" IOSTANDARD = DIFF_SSTL15;
NET "IIC_MAIN_SCL" LOC = K21;
NET "IIC_MAIN_SCL" IOSTANDARD = LVCMOS25;
NET "IIC_MAIN_SCL" DRIVE = 8;
NET "IIC_MAIN_SCL" SLEW = SLOW;
NET "IIC_MAIN_SDA" LOC = L21;
NET "IIC_MAIN_SDA" IOSTANDARD = LVCMOS25;
NET "IIC_MAIN_SDA" DRIVE = 8;
NET "IIC_MAIN_SDA" SLEW = SLOW;
NET "RESET" LOC = AB7;
NET "RESET" IOSTANDARD = LVCMOS15;
NET "RS232_Uart_1_sin" LOC = M19;
NET "RS232_Uart_1_sin" IOSTANDARD = LVCMOS25;
NET "RS232_Uart_1_sout" LOC = K24;
NET "RS232_Uart_1_sout" IOSTANDARD = LVCMOS25;
NET "sm_fan_pwm_net" LOC = L26;
NET "sm_fan_pwm_net" IOSTANDARD = LVCMOS25;
#
# additional constraints
#

NET "CLK" TNM_NET = "sys_clk_pin";
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 200000 KHz;

NET "axi_xadc_0_VAUXP_AMS_pin[0]" LOC = J23;
NET "axi_xadc_0_VAUXP_AMS_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_VAUXN_AMS_pin[0]" LOC = J24;
NET "axi_xadc_0_VAUXN_AMS_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_VAUXP_AMS_pin[1]" LOC = L22;
NET "axi_xadc_0_VAUXP_AMS_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_VAUXN_AMS_pin[1]" LOC = L23;
NET "axi_xadc_0_VAUXN_AMS_pin[1]" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_CONVST_pin" LOC = AC27;
NET "axi_xadc_0_CONVST_pin" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_MUXADDR_pin[0]" LOC = A11;
NET "axi_xadc_0_MUXADDR_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[1]" LOC = A12;
NET "axi_xadc_0_MUXADDR_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[2]" LOC = A13;
NET "axi_xadc_0_MUXADDR_pin[2]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[3]" LOC = A15;
NET "axi_xadc_0_MUXADDR_pin[3]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_MUXADDR_pin[4]" LOC = A16;
NET "axi_xadc_0_MUXADDR_pin[4]" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_TEMP_OUT_pin[0]" LOC = A17;
NET "axi_xadc_0_TEMP_OUT_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[1]" LOC = A18;
NET "axi_xadc_0_TEMP_OUT_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[2]" LOC = A20;
NET "axi_xadc_0_TEMP_OUT_pin[2]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[3]" LOC = A21;
NET "axi_xadc_0_TEMP_OUT_pin[3]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[4]" LOC = A22;
NET "axi_xadc_0_TEMP_OUT_pin[4]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[5]" LOC = A25;
NET "axi_xadc_0_TEMP_OUT_pin[5]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[6]" LOC = A26;
NET "axi_xadc_0_TEMP_OUT_pin[6]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[7]" LOC = A27;
NET "axi_xadc_0_TEMP_OUT_pin[7]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[8]" LOC = A28;
NET "axi_xadc_0_TEMP_OUT_pin[8]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[9]" LOC = A30;
NET "axi_xadc_0_TEMP_OUT_pin[9]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[10]" LOC = AA20;
NET "axi_xadc_0_TEMP_OUT_pin[10]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_TEMP_OUT_pin[11]" LOC = AA30;
NET "axi_xadc_0_TEMP_OUT_pin[11]" IOSTANDARD = LVCMOS25;

NET "axi_xadc_0_ALARM_pin[0]" LOC = AB20;
NET "axi_xadc_0_ALARM_pin[0]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[1]" LOC = AB27;
NET "axi_xadc_0_ALARM_pin[1]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[2]" LOC = AB29;
NET "axi_xadc_0_ALARM_pin[2]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[3]" LOC = AB30;
NET "axi_xadc_0_ALARM_pin[3]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[4]" LOC = AC22;
NET "axi_xadc_0_ALARM_pin[4]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[5]" LOC = AC24;
NET "axi_xadc_0_ALARM_pin[5]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[6]" LOC = AC25;
NET "axi_xadc_0_ALARM_pin[6]" IOSTANDARD = LVCMOS25;
NET "axi_xadc_0_ALARM_pin[7]" LOC = AC26;
NET "axi_xadc_0_ALARM_pin[7]" IOSTANDARD = LVCMOS25;

INST "reconfigurable_peripherials_0/reconfigurable_peripherials_0/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_0_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y160:SLICE_X49Y194;

INST "reconfigurable_peripherials_1/reconfigurable_peripherials_1/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_1_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_1_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y310:SLICE_X49Y344;
INST "reconfigurable_peripherials_3/reconfigurable_peripherials_3/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_3_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_3_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y210:SLICE_X49Y244;
INST "reconfigurable_peripherials_4/reconfigurable_peripherials_4/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_4_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_4_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y110:SLICE_X49Y144;
INST "reconfigurable_peripherials_2/reconfigurable_peripherials_2/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_2_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_2_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y260:SLICE_X49Y294;
INST "reconfigurable_peripherials_5/reconfigurable_peripherials_5/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_5_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_5_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y60:SLICE_X49Y94;
INST "reconfigurable_peripherials_6/reconfigurable_peripherials_6/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_6_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_6_USER_LOGIC_I_rp_instance" RANGE=SLICE_X38Y10:SLICE_X49Y44;
INST "reconfigurable_peripherials_7/reconfigurable_peripherials_7/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_7_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_7_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y310:SLICE_X103Y344;
INST "reconfigurable_peripherials_8/reconfigurable_peripherials_8/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_8_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_8_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y260:SLICE_X103Y294;
INST "reconfigurable_peripherials_10/reconfigurable_peripherials_10/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_10_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_10_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y160:SLICE_X103Y194;
INST "reconfigurable_peripherials_11/reconfigurable_peripherials_11/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_11_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_11_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y110:SLICE_X103Y144;
INST "reconfigurable_peripherials_12/reconfigurable_peripherials_12/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_12_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_12_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y60:SLICE_X103Y94;
INST "reconfigurable_peripherials_13/reconfigurable_peripherials_13/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_13_USER_LOGIC_I_rp_instance";
AREA_GROUP "pblock_reconfigurable_peripherials_13_USER_LOGIC_I_rp_instance" RANGE=SLICE_X92Y10:SLICE_X103Y44;
INST "reconfigurable_peripherials_9/reconfigurable_peripherials_9/USER_LOGIC_I/rp_instance" AREA_GROUP = "pblock_reconfigurable_peripherials_9_USER_LOGIC_I_rp_instance_1";
AREA_GROUP "pblock_reconfigurable_peripherials_9_USER_LOGIC_I_rp_instance_1" RANGE=SLICE_X92Y210:SLICE_X103Y244;
